[submodule ".config/awesome/sharedtags"]
	path = .config/awesome/sharedtags
	url = git@github.com:Drauthius/awesome-sharedtags.git
[submodule ".config/rofi/rofi-translate"]
	path = .config/rofi/rofi-translate
	url = git@github.com:xvrong/rofi-translate.git
